In [1]:
import pandas as pd

In [4]:
results = pd.read_csv("results.csv")
results.head()

    doc_id  result_id                                               text
0  1421389          0  A 49-year-old Caucasian woman with a history o...
1  1421389          1   On admission, the patient's temperature was 3...
2  1421389          2   Treatment with intravenous dexamethasone, cef...
3  1421389          3   A diagnosis of CLL was confirmed by the expre...
4  1421389          4   Then, one month after discharge, she develope...