In [14]:
import numpy as np
import pandas as pd

In [23]:
results = pd.read_csv("results.csv")
results2 = pd.read_csv("results_auditory.csv").drop(columns="Unnamed: 0")
results2.columns = results.columns
results3 = pd.read_csv("results_bluetongue.csv")
results3.columns = results.columns
results4 = pd.read_csv("results_melioidosis.csv")
results4.columns = results.columns
results5 = pd.read_csv("results_reinforcement_learning.csv").drop(columns="Unnamed: 0")
results5.columns = results.columns
results6 = pd.read_csv("articles_res_malaria.csv", sep="|").drop(0)
results6.columns = results.columns

    doc_id  result_id                                               text
0  1421389          0  A 49-year-old Caucasian woman with a history o...
1  1421389          1   On admission, the patient's temperature was 3...
2  1421389          2   Treatment with intravenous dexamethasone, cef...
3  1421389          3   A diagnosis of CLL was confirmed by the expre...
4  1421389          4   Then, one month after discharge, she develope...

In [37]:
discussions = [pd.read_csv("discussions.csv")]
discussions.append(pd.read_csv("discussions_auditory.csv").drop(columns="Unnamed: 0"))
discussions[-1].columns = discussions[0].columns
discussions.append(pd.read_csv("discussions_bluetongue.csv"))
discussions[-1].columns = discussions[0].columns
discussions.append(pd.read_csv("discussions_melioidosis.csv"))
discussions[-1].columns = discussions[0].columns
discussions.append(pd.read_csv("discussions_reinforcement_learning.csv").drop(columns="Unnamed: 0"))
discussions[-1].columns = discussions[0].columns
discussions.append(pd.read_csv("articles_disc_malaria.csv", sep="|").drop(0))
discussions[-1].columns = discussions[0].columns

In [39]:
results = pd.concat([results, results2, results3, results4, results5, results6], ignore_index=True)

In [40]:
discussions = pd.concat(discussions, ignore_index=True)

In [41]:
pairs = pd.concat([pd.read_csv("pairs.csv"), pd.read_csv("pairs_bluetongue.csv"), pd.read_csv("pairs_melioidosis.csv")])

In [49]:
results["doc_id"] = results["doc_id"].astype('int32')
discussions["doc_id"] = discussions["doc_id"].astype('int32')
pairs["doc_id"] = pairs["doc_id"].astype('int32')

In [50]:
results.to_csv("results.csv", index=False, header=True)
discussions.to_csv("discussions.csv", index=False, header=True)
pairs.to_csv("pairs.csv", index=False, header=True)

In [27]:
scores = [pd.read_csv("scores.csv"), pd.read_csv("malaria_pairs_scores.csv"), pd.read_csv("scores_bluetongue.csv"), pd.read_csv("scores_reinforcement_learning_and_auditory.csv")]
scores[-3].columns = scores[0].columns
scores[-2].columns = scores[0].columns
scores[-1].columns = scores[0].columns
scores = pd.concat(scores, ignore_index=True).drop_duplicates()

In [ ]:
scores["doc_id_result"] = scores["doc_id_result"].astype(np.int32)
scores["result_id"] = scores["result_id"].astype(np.int32)
scores["doc_id_discussion"] = scores["doc_id_discussion"].astype(np.int32)
scores["discussion_id"] = scores["discussion_id"].astype(np.int32)
scores["score"] = scores["score"].astype(np.int32)

In [21]:
scores.to_csv("scores.csv", index=False, header=True)

In [65]:
results["doc_id"].unique().shape

(80,)

In [66]:
discussions["doc_id"].unique().shape

(80,)

In [64]:
pairs["doc_id"].unique().shape

(40,)

In [24]:
scores["doc_id_result"].unique().shape

(25,)

In [28]:
scores.describe()

,doc_id_result,result_id,doc_id_discussion,discussion_id,score
count,2.546000e+03,2546.000000,2.546000e+03,2546.000000,2546.000000
mean,1.564838e+06,1.543598,1.496934e+06,2.572663,0.417125
std,7.438831e+05,1.478020,7.461311e+05,2.595679,0.927428
min,1.933340e+05,0.000000,1.933340e+05,0.000000,0.000000
25%,6.530440e+05,0.000000,6.530440e+05,1.000000,0.000000
50%,1.816166e+06,1.000000,1.816166e+06,2.000000,0.000000
75%,1.962556e+06,2.000000,1.962556e+06,3.000000,0.000000
max,2.562735e+06,6.000000,2.562735e+06,12.000000,4.000000